<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>Manipulation de vue</title>
<script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
</head>
<body>

<div id="monapp">
    <div>
        <label>
            <input type="radio" v-model="couleurTexte" value="red"> Rouge
        </label>
        <label>
            <input type="radio" v-model="couleurTexte" value="blue"> Bleu
        </label>
        <label>
            <input type="radio" v-model="couleurTexte" value="green"> Vert
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" v-model="afficherParagraphe"> Afficher/Cacher le paragraphe
        </label>
    </div>
    <p v-if="afficherParagraphe" :style="{ color: couleurTexte }">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam pariatur 
        mollitia et, inventore delectus. Doloribus laudantium maiores at necessitatibus 
        ipsum distinctio?
    </p>
</div>

<script>
    const appli = Vue.createApp({
        data() {
            return {
                couleurTexte: 'red',
                afficherParagraphe: true
            }
        }
    });

    appli.mount("#monapp");
</script>

</body>
</html>